<%= link_to "Add Post", new_post_path %>

<% if @posts.any? %>
<h4>Your blog posts:</h4>
<ul>
  <% @posts.each do |post| %>
  <li>
    <hr>
    Title: $<%= post.title %><br>
    Post: <%= post.body %><br>
    <hr>
  </li>
  <% end %>
</ul>
<% else %>
<p>There are no posts yet!</p>
<% end %>
